<mat-toolbar color="primary">
  <a style="text-decoration: none; color: #fff" routerLink=''>
    Angular Firebase
  </a>

  <ng-container *ngIf="user$ | async as user; else $any(loginButton)">
    <button mat-button [matMenuTriggerFor]="userMenu">
      <!-- <mat-icon>account_circle</mat-icon> -->
      <img class="profile-image-toolbar" width="30" height="30" [src]="user.photoURL ?? 'assets/images/profile-image.jpeg'">
        {{user.displayName}}
        <mat-icon>arrow_drop_down</mat-icon>
    </button>
  </ng-container>

  <ng-template #loginButton>
    <button routerLink='/login' mat-button>
      <mat-icon>login</mat-icon>
      Login
    </button>
  </ng-template>

</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="/profile">Profile</button>
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>

