<div class="form-container">
  <div>
    <h1>Welcome Back!</h1>
    <p>Welcome back. Please enter your login credentials</p>
    <form [formGroup]="loginForm" (ngSubmit)='submit()'>
      <mat-form-field>
        <input matInput placeholder="Email address" formControlName="email">
        <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
        <mat-error *ngIf="email?.errors?.['email']">Please enter a correct email format</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password">
        <mat-error *ngIf="password?.errors?.['required']">Password is required</mat-error>
      </mat-form-field>

      <a href="#" style="text-decoration: none; color: #673ab7; text-align: left;">Forgot password?</a>

      <button mat-raised-button color="primary" type="submit">
        Login
      </button>
    </form>

    <p>Don't have an account?
      <a routerLink="/signup" style="text-decoration: none; color: #673ab7;">Sign Up!</a>
    </p>
  </div>
</div>

