.profile-image > img {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.profile-image {
  position: relative;
  width: max-content;
  margin: auto;
}

.profile-image > button {
  position: absolute;
  bottom: 0px;
  right: 0;
}

.form-container > div {
  max-width: 400px;
}

.row {
  display: flex;
  gap: 16px;
}

.row > mat-form-field {
  width: calc(50% - 8px);
}
